.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.card-block{
  background-color: #e0e2db;
}

html{
  background-color: #51768d;
}

body{
  background-color: #51768d;
}
// .card-contents {
//   padding-left: 26%;
//   padding-right: 26%;
// }

// .card-container {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }
